= link_to board_tasks_path(board) do
  .card-detail
    %div
      - if user_signed_in? && current_user.has_written?(board)
        .dropdown.a1
          = image_tag 'actions.svg', class: 'dropbtn drop'
          .dropdown-content
            = link_to 'Edit', edit_board_path(board),class:"a"
            = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもいいですか？'},class:"a"
    .card-title
      = board.name
    .card-description
      = board.description
    .user-avatar
      = image_tag "default-avatar.png", class:"user-image"
