.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :Email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "text"
    .field
      = f.label :Password
      %br/
      = f.password_field :password, autocomplete: "current-password", class: "text"
    .actions
      = f.submit "submit", class: 'btn-primary'
    .field
      = link_to "sign_up", new_user_registration_path, class:"registration"
