.container
  .title New Board
  = form_with(model: @board, url: boards_path, method: 'post', local: true) do |f|
    .content-title
      = f.label :name, 'Name'
    %div
      = f.text_field :name, class: 'text'
    .content-title1
      = f.label :description, 'Description'
    %div
      = f.text_area :description, class: 'text-area'
    = f.submit 'submit', class: 'btn-primary'
